.formContainer {
	margin-inline: auto;
	width: clamp(300px, 50vw, 800px);
}

.form {
	padding: 3em;
}

.form div {
	margin-bottom: 1rem;
}

.form label {
	margin-bottom: 0.25rem;
	display: block;
	font-size: 1.15rem;
	font-weight: bold;
}

.form label::after {
	content: ':';
}

.form
	input:not([type='button'], [type='checkbox'], [type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='file'], [type='image'], [type='month'], [type='range'], [type='radio']
		[type='reset'], [type='submit'], [type='time'], [type='week']),
.form textarea {
	font-size: 1.15rem;
	width: 100%;
	background-color: var(--color-neutral-400);
	border: none;
	padding: 8px;
	border-radius: 5px;
	color: white;
	box-shadow: 2px 2px 5px 0 hsl(0 0% 0% / 0.25);
}
